/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1600px) {


    .Indastre_menu > ul > li > a {
        margin: 36px 16px;
    }

    .header-search-button.search-box-outer {
        padding: 0px 25px 0 10px;
    }

    .slider-content h1 {
        font-size: 60px;
    }

    .hero-left {
        left: -16%;
    }

    .about_left {
        margin-left: 54px;
    }

    .about-list.style1 {
        margin-left: -102px;
    }

    .blog-title h3 a {
        font-size: 20px;
    }

    .testimonial-items {
        padding: 50px 45px 83px;
    }

    .case-study-thumb img {
        width: inherit;
    }

    .testimonial_list .owl-nav::before {
        left: 38%;
    }

    .testimonial_list .owl-nav::after {
        right: 38%;
    }

    .feature-single-inner {
        padding: 26px 33px 30px;
    }

    .service-list .owl-nav::before {
        left: 38%;
    }

    .service-list .owl-nav::after {
        right: 38%;
    }

    .row.choose-us_bg::before {
        left: -332px;
        width: 135%;
    }

    .choose-video-icon {
        right: 57px;
    }

    .row.contact-center {
        padding: 0;
        margin-top: 90px;
    }

    .blog-details .blog-thumb img {
        width: 100%;
    }

   

}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1199px) {

    .Indastre_menu > ul > li > a {
        margin: 36px 11px;
    }

    .header-search-button.search-box-outer {
        padding: 0px 10px 0 10px;
    }

    nav.Indastre_menu span {
        padding-left: 0;
    }

    .slider-content h1 {
        font-size: 50px;
        line-height: 58px;
    }

    .hero-left {
        left: -93px;
    }

    .service-single-item {
        padding: 40px 26px 33px 20px;
    }

    .about_left {
        margin-left: -12px;
    }

    .about-list.style1 {
        margin-left: -56px;
    }

    .case-study-thumb::before {
        left: 4px;
    }

    .case-study-thumb::after {
        left: 1px;
    }

    .blog-title h3 a {
	    font-size: 18px;
    }

    .blog-contents.style_one {
	    padding: 26px 5px 20px 30px;
    }

    .case-study-thumb img {
        width: inherit;
    }

    .case-study-title.style_2 h3 a {
        font-size: 20px;
    }

    .testimonial-items {
        padding: 50px 37px 83px;
    }

    .testimonial_list .owl-nav::before {
        left: 36%;
    }

    .testimonial_list .owl-nav::after {
        right: 36%;
    }

   


    /*Start Inner Page*/
    .portfolio_nav ul li {
        padding: 7px 17px;
    }

    .widget-categories-box {
        padding: 26px 25px 25px;
    }

    .widget-categories-menu ul li {
        padding: 16px 11px 16px;
        font-size: 14px;
    }

    .service-details-contents {
        padding: 21px 23px 25px;
        width: 88%;
    }

    .porject-list ul li {
        font-size: 14px;
    }

    .pagination-single-item.right::before {
        display: none;
    }

    .csd-info-sidber-box {
        padding: 0 25px 1px;
    }

    .blog-thumb img {
        width: 100%;
    }

    .blog-details-thumb img {
        width: 100%;
    }

    ul.blog-details-list li {
        font-size: 15px;
    }

    .pricing-feature ul li {
        font-size: 14px;
    }

    .about_area.style-two .about_thumb img {
        width: 100%;
    }

    .section-title h1 {
        font-size: 35px;
    }

    .feature-single-inner {
        padding: 26px 20px 30px;
    }

    .feature-title h3 {
        font-size: 18px;
    }

    .feature-single-inner::after {
        bottom: -5px;
    }

    .single-brand-item {
        padding: 55px 0 55px;
    }
    
    .single-brand-item::before {
        left: 17px;
        top: 18px;
    }

    .section-title.text-center.style2 p.section-description {
        width: 60%;
    }

    .service-list .owl-nav::before {
        left: 36%;
    }

    .service-list .owl-nav::after {
        right: 36%;
    }

    .row.choose-us_bg::before {
        left: -19px;
        background-position: right;
    }

    .service-details-icon {
        float: inherit;
        margin-bottom: 20px;
    }

    .row.contact-center {
        padding: 0;
        margin-top: 90px;
    }

    .tag-item a {
        padding: 8px 8px;
    }

    .rpost-title h4 {
        font-size: 13px;
    }

    .blog-content-text.text-left h2 {
        font-size: 30px;
    }


    

    









    


}


/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {

    .header-top-section {
        display: none;
    }

    .Indastre_nav_manu {
        display: none;
    }

    .sticky {
        position: relative !important;
    }

    .slider-area {
	    height: 1169px;
    }
    .slider-content h1 {
        font-size: 40px;
        line-height: 50px;
    }

    .hero-left {
        left: 0;
    }

    .service-single-item {
        padding: 40px 17px 33px 25px;
    }

    .about_left {
        margin-left: 0;
        margin-bottom: 30px;
    }

    .about_thumb img {
        width: 100%;
    }

    .Indastre-btn {
        text-align: left;
        margin-bottom: 40px;
    }
    .slider-button a {
        padding: 12px 37px;
    }

    .blog-title h3 a {
        font-size: 19px;
    }

    .testimonial_list .owl-nav::before {
        left: 31%;
    }

    .testimonial_list .owl-nav::after {
        right: 31%;
    }



    /* Start inner page */
    .portfolio_nav {
        margin-top: 0;
        margin-bottom: 30px;
    }

    .portfolio_menu ul {
        text-align: left;
    }

    .pagination-bg {
        margin-top: 30px;
        padding: 33px 2px 27px 20px;
    }

    .pagination.center {
        margin-bottom: 30px;
    }

    .blog-thumb img {
        width: 100%;
    }

    .blog-details-thumb img {
        width: 100%;
    }

    ul.blog-details-list li {
        font-size: 15px;
    }

    .comment-form .submit-comment {
        margin-bottom: 30px;
    }

    .about_left.style-two {
        margin-left: 0;
    }

    .testimonial-area {
        padding: 105px 0 120px;
    }

    .testi-right {
        margin-left: 0;
        margin-top: 30px;
    }

    .testi_thumb img {
        width: 100%;
    }

    .testi-content {
        left: 2%;
    }

    .single-brand-item {
        padding: 50px 0 50px;
    }

    .single-brand-item::before {
        left: 17px;
        top: 16px;
    }

    .feature-single-inner::after {
        bottom: -6px;
    }

    .section-title.text-center.style2 p.section-description {
        width: 84%;
    }

    h3.service-title {
        font-size: 25px;
    }

    .service-list .owl-nav::before {
        left: 32%;
    }

    .service-list .owl-nav::after {
        right: 32%;
    }

    .row.choose-us_bg::before {
        right: 80px;
        width: 133%;
        background-position: right;
    }

    .choose-video-icon {
        display: none;
    }

    .subscribe_form input {
        width: 100%;
    }

    .service-details-box {
        padding: 33px 15px 15px;
    }

    .service-details-icon {
        margin-right: 15px;
    }

    .row.contact-center {
        padding: 0;
        margin-top: 90px;
    }

    .blog-details-single-items {
        padding: 40px 25px 30px;
    }








  
}

/* Large Mobile :600px. */
@media only screen and (min-width: 600px) and (max-width: 767px) {

    .header-top-section {
        display: none;
    }

    .custom-container {
        width: 550px;
    }

    .Indastre_nav_manu {
        display: none;
    }

    .sticky {
        position: relative !important;
    }

    /*slider area*/

    .slider-area {
        height: 550px;
    }

    .slider-content h1 {
        font-size: 30px;
        line-height: 50px;
    }

    .hero-left {
        display: none;
    }

    .about_left {
        margin-left: 0;
        margin-bottom: 30px;
    }

    .about-list.style1 {
        margin-left: 0;
        margin-top: 30px;
    }

    .Indastre-btn {
        text-align: left;
        margin-bottom: 30px;
    }

    .testimonial_list .owl-nav::before {
        left: 24%;
    }

    .testimonial_list .owl-nav::after {
        right: 24%;
    }

    .single-blog-thumb img {
        width: 100%;
    }

    .col-md-5.text-right {
        text-align: left;
        margin-top: 18px;
    }
   

    /*Start Inner Page*/
    .portfolio_nav {
        margin-top: 0;
        margin-bottom: 30px;
    }

    .portfolio_menu ul {
        text-align: left;
    }

    .style-two .case-study-single-box {
        text-align: center;
    }

    .case-study-contents {
        width: 83%;
        padding-left: 30px;
        left: 45px;
    }

    .service-details-icon {
        float: inherit;
    }

    .pagination-bg {
        padding: 33px 1px 27px 17px;
        margin-top: 30px;
    }

    .service-details-thumb img {
        width: 100%;
    }

    h3.pagination-title {
        font-size: 14px;
    }

    .pagination.center {
        margin-bottom: 30px;
    }

    .blog-content-text.text-left h2 {
        font-size: 24px;
    }

    .blog-details-desc p {
        font-size: 17px;
    }

    .tag-item a {
        padding: 8px 17px;
    }

    .blog-thumb img {
        width: 100%;
    }

    .about_left.style-two {
        margin-left: 0;
        overflow: hidden;
    }

    .testimonial-area {
        padding: 105px 0 120px;
    }

    .testi-right {
        margin-left: 0;
        margin-top: 30px;
    }

    .testi_thumb img {
        width: 100%;
    }

    .testi-content {
        left: 2%;
    }

    .single-brand-item {
        padding: 50px 0 50px;
    }

    .single-brand-item::before {
        left: 17px;
        top: 16px;
    }

    .feature-single-inner::after {
        right: -3px;
        bottom: -6px;
    }

    .section-title h1 {
        font-size: 35px;
    }

    .section-title.text-center.style2 p.section-description {
        width: 100%;
    }

    .service-list .owl-nav::before {
        left: 25%;
    }

    .service-list .owl-nav::after {
        right: 25%;
    }
    

    .row.choose-us_bg::before {
        width: 112%;
        background: #fff;
        height: 105%;
        left: -30px;
        top: -21px;
    }

    .choose-video-icon {
        display: none;
    }

    .subscribe_form input {
        width: 100%;
    }
    
    .service-details-box {
        padding: 33px 27px 15px;
    }
   
    .case-study-area.style-two {
        padding: 105px 0 90px;
    }

    .row.contact-center {
        padding: 0;
        margin-top: 90px;
    }






 


}

/* small mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 599px) {

    .header-top-section {
        display: none;
    }

     .Indastre_nav_manu {
        display: none;
    }

    .custom-container {
        width: 440px;
    }

    .sticky {
        position: relative !important;
    }

    /*slider area*/

    .slider-area {
        height: 550px;
    }

    .slider-content h1 {
        font-size: 28px;
        line-height: 41px;
    }

    .hero-left {
        display: none;
    }

    .about_left {
        margin-left: 0;
        margin-bottom: 30px;
    }

    .about-list.style1 {
        margin-left: 0;
        margin-top: 30px;
    }

    .Indastre-btn {
        text-align: left;
        margin-bottom: 30px;
    }

    .testimonial_list .owl-nav::before {
        left: 24%;
    }

    .testimonial_list .owl-nav::after {
        right: 24%;
    }

    .single-blog-thumb img {
        width: 100%;
    }

    .col-md-5.text-right {
        text-align: left;
        margin-top: 18px;
    }
    .slider-button a {
        padding: 10px 27px;
        margin-right: 7px;
    }



    
     /* Satert Service Details */

     .portfolio_nav {
        margin-top: 0;
        margin-bottom: 30px;
    }

    .portfolio_menu ul {
        text-align: left;
    }

    .style-two .case-study-single-box {
        text-align: center;
    }

    .case-study-contents {
        width: 83%;
        padding-left: 30px;
        left: 45px;
    }

    .portfolio_nav ul li {
        padding: 7px 16px;
    }

    .csde-title h2 {
        font-size: 28px;
    }

    .porject-list {
        margin-bottom: 30px;
    }

    .pagination-single-item.right {
        float: inherit;
        margin-top: 30px;
    }

    .pagination.center {
        margin-bottom: 30px;
    }

    .blog-details-comment-thumb {
        float: inherit;
        margin-bottom: 30px;
    }

    .blog-content-text.text-left h2 {
        font-size: 22px;
    }

    .blog-thumb img {
        width: 100%;
    }

    .comment-form .submit-comment {
        margin-bottom: 30px;
    }

    .share-text {
        margin-right: 3px;
    }

    .single-blog-social-icon ul li i {
        height: 30px;
        width: 30px;
        line-height: 30px;
    }


    .about_left.style-two {
        margin-left: 0;
        overflow: hidden;
    }

    .about_left.style-two .about_thumb img {
        width: 100%;
    }

    .testimonial-area {
        padding: 105px 0 120px;
    }

    .testi-right {
        margin-left: 0;
        margin-top: 30px;
    }

    .testi_thumb img {
        width: 100%;
    }

    .testi-content {
        left: 2%;
    }

    .single-brand-item {
        padding: 50px 0 50px;
    }

    .single-brand-item::before {
        left: 17px;
        top: 16px;
    }

    .feature-single-inner::after {
        right: -3px;
        bottom: -6px;
    }

    .section-title h1 {
        font-size: 35px;
    }


    .section-title.text-center.style2 p.section-description {
        width: 100%;
    }

    .service-list .owl-nav::before {
        left: 22%;
    }

    .service-list .owl-nav::after {
        right: 22%;
    }

    .row.choose-us_bg::before {
        width: 112%;
        background: #fff;
        height: 105%;
        left: -30px;
        top: -21px;
    }

    .choose-video-icon {
        display: none;
    }

    .service-area.style-tow {
        padding: 106px 0 142px;
    }

    .pricing-area.style-tow {
        padding: 105px 0 90px;
    }

    .subscribe_form input {
        width: 100%;
    }

    .newsletter-area {
        padding: 24px 0 41px;
    }

    .case-study-area.style-two {
        padding: 105px 0 90px;
    }

    .row.contact-center {
        padding: 0;
    }

    .blog-details-desc p {
        font-size: 17px;
    }











      

    

}

/* small mobile :320px. */

@media only screen and (min-width: 320px) and (max-width: 479px) {

    .header-top-section {
        display: none;
    }

    .custom-container {
        width: 300px;
    }

    .Indastre_nav_manu {
        display: none;
    }

    .sticky {
        position: relative !important;
    }

    /*slider area*/
    .slider-area {
        height: 550px;
    }

    .slider-content h1 {
        font-size: 30px;
        line-height: 42px;
    }

    .hero-left {
        display: none;
    }

    .slider-button a {
        padding: 11px 35px;
        margin-bottom: 20px;
    }

    h3.service-title2 {
        font-size: 20px;
    }

    .section-title h1 {
        font-size: 30px;
        color: #171717;
        font-weight: 700;
        font-family: "Yantramanav";
        margin-bottom: 13px;
    }

    p.section-description {
        width: 100%;
    }

    .case-study-title h3 a {
        font-size: 30px;
    }

    .about_left {
        margin-left: 0;
        margin-bottom: 30px;
    }

    .about-list.style1 {
        margin-left: 0;
        margin-top: 30px;
    }

    .Indastre-btn {
        text-align: left;
        margin-bottom: 30px;
    }

    .testimonial_list .owl-nav::before {
        left: 8%;
    }

    .testimonial_list .owl-nav::after {
        right: 8%;
    }

    .single-blog-thumb img {
        width: 100%;
    }

    .col-md-5.text-right {
        text-align: left;
        margin-top: 18px;
    }


    .blog-contents.style_one {

        padding: 26px 33px 20px 15px;
    }

    .blog-title h3 a {
        font-size: 18px;
    }

    .testimonial-items {
        padding: 40px 20px 73px;
    }

    /* start inner page */

    .breadcumb-content h1 {
        font-size: 42px;
    }

    .about_thumb img {
        width: 100%;
    }

    .about-btn.style-two {
        float: inherit;
        margin-bottom: 30px;
    }

    .pricing-single-inner {
        background: #fff;
        border: 1px solid rgba(23,23,23,0.07);
        padding: 35px 21px 49px;
        position: relative;
        z-index: 1;
        overflow: hidden;
        transition: .6s;
    }

    .portfolio_nav {
        margin-top: 0;
        margin-bottom: 30px;
    }

    .portfolio_menu ul {
        text-align: left;
    }

    .style-two .case-study-single-box {
        text-align: center;
    }

    .case-study-contents {
        width: 85%;
        padding-left: 30px;
        left: 22px;
    }

    .case-study-area.style-two {
        padding: 105px 0 90px;
    }

    .portfolio_nav ul li {
        padding: 7px 10px;
        margin-bottom: 20px;
    }

    .service-page-title h1 {
        font-size: 25px;
    }

    .service-details-icon {
        float: inherit;
    }

    .service-page-title2 h1 {
        font-size: 25px;
    }

    .service-details-contents {
        padding: 21px 21px 25px;
    }

    .widget-categories-box {
        padding: 26px 5px 25px;
    }

    .csde-title h2 {
        font-size: 22px;
    }

    .porject-list ul li {
        font-size: 14px;
    }

    .csd-info-sidber-box {
        padding: 0 25px 1px;
    }

    .pagination-bg {
        padding: 33px 20px 27px 30px;
    }

    .pagination-single-item.right {
        float: inherit;
        margin-top: 30px;
    }

    h3.pagination-title {
        font-size: 14px;
    }

    .pagination-content span {
        font-size: 14px;
    }

    .pagination.center {
        margin-bottom: 30px;
    }

    .blog-details-comment-thumb {
        float: inherit;
        margin-bottom: 30px;
    }

    .blog-content-text.text-left h2 {
        font-size: 23px;
    }

    .blog-details-desc p {
        font-size: 15px;
    }

    .tag-item a {
        padding: 8px 15px;
    }

    .blog-thumb img {
        width: 100%;
    }

    .comment-form .submit-comment {
        margin-bottom: 30px;
    }

    ul.blog-details-list li {
        font-size: 15px;
    }

    .blog-details-comment.reply {
        margin-left: 13px;
    }

    .widget-items {
        padding: 40px 19px 15px;
    }

    .share-text {
        margin-right: 3px;
    }

    .single-blog-social-icon ul li i {
        height: 30px;
        width: 30px;
        line-height: 30px;
    }

    .blog-details-social {
        display: inherit;
    }

    .single-blog-social-icon {
        justify-content: initial;
        margin-top: 20px;
    }

    .accordion.style1 li a {
        padding: 25px 20px 25px 19px;
        font-size: 14px;
    }


    .about_left.style-two {
        margin-left: 0;
        overflow: hidden;
    }

    .about_left.style-two .about_thumb img {
        width: 100%;
    }

    .testimonial-area {
        padding: 105px 0 120px;
    }

    .testi-right {
        margin-left: 0;
        margin-top: 30px;
    }

    .testi_thumb img {
        width: 100%;
    }

    .testi-content {
        left: 2%;
    }

    .single-brand-item {
        padding: 50px 0 50px;
    }

    .single-brand-item::before {
        left: 23px;
        top: 16px;
    }

    .feature-single-inner::after {
        right: -3px;
        bottom: -6px;
    }

    .section-title h1 {
        font-size: 22px;
    }

    .subscribe_form input {
        width: 100%;
    }

    .subscribe_form button {
        padding: 17px 18px;
        height: 60px;
    }

    .breadcumb-area {
        height: 400px;
    }

    .section-title.text-center.style2 p.section-description {
        width: 100%;
    }

    .service-list .owl-nav::before {
        left: 8%;
    }

    .service-list .owl-nav::after {
        right: 8%;
    }

    .row.choose-us_bg::before {
        left: 0;
        width: 100%;
        background: #fff;
        height: 106%;
        top: -20px;
    }

    .choose-video-icon {
        display: none;
    }

    .choose-list ul li {
        font-size: 13px;
    }

    .pricing-area.style-tow {
        padding: 105px 0 89px;
    }

    .service-area.style-tow {
        padding: 106px 0 142px;
    }

    .contact_from_box {
        padding: 67px 24px 80px;
    }

    .row.contact-center {
        padding: 0;
        margin-top: 90px;
    }

}




/*xl device min width*/
@media screen and (min-width:992px) {
    .pl-lg-50 {
        padding-left: 50px;
    }
}

/*xl device min width*/
@media screen and (min-width:1200px) {
    .video-icon {
        left: 75%;
    }
}